@import "../sass/mixins.scss";
@import "../sass/reset.scss";
@import "../sass/vars.scss";
.product{
    max-width: 1240px;
    min-height: 617px;
}
.product_p-p1{
    padding-top: 199px;
    @include text($secondary-color, $font-family, 15px, normal, 500, normal, none)
}
.product_p-p2{
    padding-top: 20px;
    @include text($secondary-color, $font-family, 60px, normal, 500, normal, none)
}
.product_blocks-1{
    width: 270px;
    height: 445px;
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.945);
}
.product_blocks-1-img{
    padding-top: 25px;
    padding-left: 40px;
}
.product_blocks-1-p1{
    text-align: center;
    padding-top: 41px;
    @include text($secondary-color, $font-family, 20px, normal, 400, normal, none)
}
.product_blocks-1-p2{
    text-align: center;
    padding-top: 25px;
    @include text($title-color, $font-family, 20px, normal, 400, normal, none)
}
.product_blocks-1-button{
    width: 177px;
    height: 57px;
    background-color: white;
    border: 2px solid #06C167;
    margin-top: 29px;
    margin-left: 47px;
}
.product_blocks-1-button-p-img{
    display: flex;
    gap: 31.19px;
}
.product_blocks-1-button-p{
    padding-left: 30px;
    @include text($title-color, $font-family, 16px, normal, 400, normal, none)
}
.product_blocks{
    display: flex;
    gap: 30px;
    margin-top: 63px;
}